@charset "utf-8";
/* Animated Flip Down Clock Style */


#container{
	position:absolute;
	top: 50%;
	margin-top: -50px;
	left:50%;
	margin-left: -271px;
	background: rgba(255,255,255,.2);
	border-radius: 18px;
	padding: 10px;
	box-shadow: 0 0 19px rgba(255,255,255,1);
}

#wrapper{
	position:relative;}

#front{
	position:absolute;
	top:0px;
}



#upperHalf, #upperHalfBack{
	vertical-align:bottom;
}

#lowerHalf, #lowerHalfBack{
	vertical-align:top;
}




#upperHalf img{
	position:relative;
	height:64px;
	vertical-align:bottom;
	visibility:visible;
}

#lowerHalf img{
	position:relative;
	height:64px;
	vertical-align:top;
	visibility:visible;
}

	
#lowerHalfBack img{
	position:relative;
	vertical-align:top;
}

#upperHalfBack img{
	position:relative;
	vertical-align:bottom;
}


#daysUpLeft, #daysUpRight, #daysDownLeft, #daysDownRight,
#daysUpLeftBack, #daysUpRightBack, #daysDownLeftBack, #daysDownRightBack,
#hoursUpLeft, #hoursUpRight, #hoursDownLeft, #hoursDownRight,
#hoursUpLeftBack, #hoursUpRightBack, #hoursDownLeftBack, #hoursDownRightBack,
#minutesUpLeft, #minutesUpRight, #minutesDownLeft, #minutesDownRight,
#minutesUpLeftBack, #minutesUpRightBack, #minutesDownLeftBack, #minutesDownRightBack,
#secondsUpLeft, #secondsUpRight, #secondsDownLeft, #secondsDownRight,
#secondsUpLeftBack, #secondsUpRightBack, #secondsDownLeftBack, #secondsDownRightBack{
	width:64px;
}
#hoursUpLeft {
	height: 64px !important;
}

	


	

